

html {
    
    background-image: url(https://media.tenor.com/images/ec7479b3a1bad5b61ec8cefa865ffe4a/tenor.gif);
    background-repeat:repeat;
    background-size:200px, 50px;
    width: 100%;
    min-height: 50px; 
    padding: 25px; 
}

body{
    background-color:black;
    font-family: "Hoefler Text", Cambria, "Times New Roman", serif;
    font-size: 18px;
    text-align:center; 
    color:aqua;
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


main{
    display:flexbox;
    margin-left: auto;
    margin-right: auto; 
    width: 50%; 
}

.Image1{
    display:block; 
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}

.Image2{
    display:block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(100%);
   
}

@keyframes ChristmasTree{
    0%{
    transform: scale(0.1);
    color: yellow;
    opacity: 0;
    }

    70% {
        transform: scale(1.4);
        color: pink;
        opacity: 1;
    }
    100% {
        color: green;
        transform: scale(1);
    }

}

.animated{
    animation-iteration-count: infinite;
    animation-name: ChristmasTree;
    animation-play-state: running;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
}

.animated:hover {
    animation-play-state: paused; 
}
h1{
    text-shadow: 2px 2px green; 
}
.Image4{
    transform: rotateY(150deg);
}

.Image5{
    width: 100px;
    height: 100px;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.Image5:hover{
    width: 300px;
}

#Image6{
    filter: blur(5px) saturate(2);
}

#Image7{
    filter: brightness(1.5) contrast(3) grayscale(0.6) invert(0.23) sepia(0.2);
}

ul{
    border-width: 25px;
    border-style:groove;
    border-color:green;
    list-style-image: url(https://i.imgur.com/MaSll2N.jpg);
}

summary{
    writing-mode: vertical-rl;
}

